html {
    min-width: 500px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 1.15em;
    background: white;
    
}

img {
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color .25s ease;
    transition: color .25s linear;
    /*border-bottom: 1px dotted #ff8cb5;*/
    /*text-shadow: #ff8cb5 0px 1px 0px;*/
}

a:hover {
    color: #9a355a;
    -webkit-transition: color .25s ease;
    transition: color .25s linear;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    text-shadow: #ff8cb5 0px 1px 0px;
}

/* Forms */

input, textarea, select {
    border: 1px solid #AAA;
    padding: 1px 0px;
}

.submit {
    border: 1px solid #AAA;
    padding: 1px 6px;
    color: #080000;
    background-color: #DDD;
    font-family: Georgia, serif;
    font-size: inherit;
}

label {
    float: left;
    width: 6em;
}

/* Message Flashing */

.flashes {
    font-style: italic;
    text-align: center;
    color: #9a355a;
    font-size: 0.9em;
}

.error {
    color: #cc0000;
}

.question {
    color: #b7b600;
}

/* Between blog posts */

.spacer {
    height: 1em;
}

#metanav {
    text-align: right;
    padding: 2px 6px 3em 4em;
    font-size: small;
    position: absolute;
    top: 0;
    right: 1px;
}

#metanav a {
    padding-left: 0.5em;
    font-size: small;
    color: gray;
    border: none;
}

#wrapper {
    max-width: 44em;
    margin: 0 auto;
    padding: 3em;
}

#header {
    font-size: 4.5em;
    text-align: right;
    margin-top: 0;
}

#header a {
    color: #333;
    border: none;
}

#header a:hover {
    color: #9a355a;
}

#navigation {
    float: right;
    width: 8em;
    font-size: 1.2em;
}

#navigation a {
    color: #080000;
    color: #333;
    border: none;
    text-shadow: #ff8cb5 0px 1px 0px;
}

#navigation a:hover {
    color: #9a355a;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation li {
    list-style-type: none;
    text-transform: lowercase;
    border-bottom: 1px dotted #ff8cb5;
    font-size: 1em;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    letter-spacing: 0.2em;
}

#navigation li:last-child {
    border: none;
}

#content {
    /*margin-top: 1em;*/
    padding-right: 12em;
    padding-bottom: 5em;
}

#adjacent-posts {
}

#prev-post {
    float:left;
}

#next-post {
    float:right;
}

#search {
    text-align: center;
}

#search-field {
    font-size: inherit;
}

#search-button {
}

.post h1.post-title {
    text-align: left;
}

.post h1.post-title a {
    color: #333;
    font-weight: normal;
}

.post h1.post-title a:hover {
    color: #9a355a;
}

.post .body {
    font-family: Georgia;
    font-size: 0.8em;
    color: #111;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post .body h1,h2,h3,h4,h5,h6 {
    text-shadow: none;
    color: #333;
    margin-bottom: 0em;
}

.post .body h3,h4,h5,h6 {
    margin-bottom: -0.5em;
}

.post .body a, .post .info a {
    color: #66233c;
    text-shadow: none;
    /*border-bottom: 1px dotted #ff8cb5;
    border-bottom: 1px dotted black;*/
}

.post .body a {
    border-bottom: 1px dotted #ff8cb5;
}

.post a:hover {
    color: #9a355a;
}

.post .info {
    margin-bottom: 2em;
    color: gray;
    font-size: small;
}

.post .comments-link {
    float: right;
}

.post .date {
}

.post .admin {
}

.post .body h2 {
}

#next-post, #prev-post {
    text-shadow: #ff8cb5 0px 1px 0px;
}

/* Archives */

ul.archives {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.archives li {
    margin-bottom: 0.5em;
}

.post-date {
    /*display: inline;*/
    /*float: right;*/
    color: gray;
    font-size: small;
}

.post-count {
    display: inline;
}

#tag-cloud {
    line-height: 2em;
}

.codehilite {
    background: #ghostwhite;
    padding: 0.25em 0.5em;
    font-size: 1em;
}
