html {
    min-width: 44em;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 1.3em;
    /*background: #d9ddde url('checkboard.png') repeat right top;*/
    background: white;
    height: 100%;
    /*text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;*/
    color: black;
}

img {
}

a {
    color: #99345a;
    text-decoration: none;
    -webkit-transition: color .25s ease;
    transition: color .25s linear;
}

a:hover {
    color: #bf4270;
    -webkit-transition: color .25s ease;
    transition: color .25s linear;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: black;
}

h1 a {
    color: #424242;
}

ul li:before {
	content: "\00BB \0020";
}

/* Forms */

input, textarea, select {
    color: black;
    border: 1px solid #AAA;
    padding: 1px 1px;
    /*background: #EEEFFF;*/
    /*background: rgba(255,255,255,0.2);*/
}

.submit {
    border: 1px solid #AAA;
    background: #EEEFFF;
    /*background: rgba(255,255,255,0.2);*/
    padding: 1px 6px;
    font-size: inherit;
}

label {
    float: left;
    width: 6em;
}

/* Message Flashing */

.flashes {
    color: grey;
}

.error {
    color: #cc0000;
}

.question {
    color: #b7b600;
}

/* Between blog posts */

.spacer {
    /*height: 1em;*/
}

#metanav {
    text-align: right;
    padding: 2px 6px 3em 4em;
    font-size: small;
    position: absolute;
    top: 0;
    right: 1px;
}

#metanav a {
    padding-left: 0.5em;
    font-size: small;
    color: gray;
    border: none;
}

#wrapper {
    max-width: 30em;
    margin: 0 auto;
    padding: 2em;
    padding-top: 0;
    background: rgba(255, 255, 255, 0.0);
}

#header {
    font-size: 4.5em;
    text-align: right;
    margin-top: 0;
    display: none;
}

#header a {
    color: black;
    border: none;
}

#header a:hover {
    color: #bf4270;
}

#navigation {
}

#navigation a {
    color: black;
    border: none;
}

#navigation a:hover {
    color: #bf4270;
}

#navigation ul {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

#navigation ul li:before {
	content: "";
}

#navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 1em;
}

#navigation li:last-child {
    clear: both;
}

#content {
    /*margin-top: 1em;*/
    padding-bottom: 3em;
}

#adjacent-posts {
}

#prev-post {
    float:left;
}

#next-post {
    float:right;
}

#search {
    /*text-align: center;*/
}

#search-field {
    font-size: inherit;
}

#search-button {
    color:black;
}

.post {
    margin-bottom: 3em;
}

.post h1.post-title {
    text-align: left;
}

.post h1.post-title a {
    color: black;
}

.post h1.invisible a {
    color: #ccc;
}

.post h1.post-title a:hover {
    color: #bf4270;
    -webkit-transition: color .25s ease;
    transition: color .25s linear;
}

.post .body {
    /*font-family: Georgia;*/
    font-size: 0.8em;
    /*color: #222;*/
    margin-top: 1em;
    margin-bottom: 1em;
    /*margin-left: 2em;*/
}

.post .body h1,.post .body h2,.post .body h3,.post .body h4,.post .body h5,.post .body h6 {
    margin-bottom: 0em;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: #787878;
}

.post .body h3,h4,h5,h6 {
    margin-bottom: -0.5em;
}

.post .body a {
    border-bottom: 1px dotted #bbb;
}

.post p {
    /*margin-left: 1em;*/
}

.post ul {
    list-style-type: none;
}

.post a:hover {
    color: #bf4270;
}

.post .info {
    color: gray;
    font-size: small;
    margin-bottom: 2em;
}

.post .comments-link {
    float: right;
}

.post .date {
}

.post .admin {
}

.post .body h2 {
}

#next-post, #prev-post {
}

/* Archives */

ul.archives {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.archives li {
    margin-bottom: 0.5em;
}

.post-date {
    /*display: inline;*/
    /*float: right;*/
    color: gray;
    font-size: small;
}

.post-count {
    display: inline;
}

#tag-cloud {
    line-height: 2em;
}

.codehilite {
    background: whitesmoke;
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px inset, rgba(255, 255, 255, 0.4) 0px -1px 1px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px inset, rgba(255, 255, 255, 0.4) 0px -1px 1px inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px inset, rgba(255, 255, 255, 0.4) 0px -1px 1px inset;*/
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}
