<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ config['BLOG_TITLE'] }}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='blog.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='codehilite.css') }}" type="text/css"/>
    <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!-- Show login etc. only on mouseover -->
    <script type=text/javascript>
      $(function() {
        $("#metanav").fadeTo(0, 0);
        $("#metanav").mouseenter(function() {
          $(this).fadeTo('normal', 1);
        });
        $("#metanav").mouseleave(function() {
          $(this).fadeTo('normal', 0);
        });
      });
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Login'n'stuff -->
    <div id="metanav">
    {% if not session.logged_in %}
      <a href="{{ url_for('login', next=request.url) }}">log in</a>
    {% else %}
      <a href="{{ url_for('create_post') }}">compose</a>
      <a href="{{ url_for('logout', next=request.url) }}">log out</a>
    {% endif %}
    </div>
    <div id="wrapper">
      <!-- Header -->
      <h1 id=header>{{ config['BLOG_TITLE'] }}</h1>
      <!-- Navigation -->
      <div id="navigation">
        <ul>
          <li><a href="{{ url_for('show_posts') }}">Home</a></li>
          <li><a href="{{ url_for('show_archives') }}">Archives</a></li>
          <li><a href="{{ url_for('show_post', slug='about') }}">About</a></li>
          <li><a href="http://bitbucket.org/eugenkiss/">Code</a></li>
          <li><a href="{{ url_for('show_post', slug='projects') }}">Projects</a></li>
          <li><a href="{{ url_for('show_post', slug='impressum') }}">Impressum</a></li>
        </ul>
        <!-- Message Flashing -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class=flashes>
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
      <!-- Main Content -->
      <div id="content">
        {% block body %}{% endblock %}
        <!-- Search Block -->
        {% block search %}
        <div id="search">
          <input id="search-field" name="search" type="text"/> 
          <a id="search-button" class="submit" href='#'>Search</a>
        </div>
        {% endblock %}
      </div>
      
  </div>
  <!-- For Javascript -->
  {% block bottom %}{% endblock %}
  </body>
</html>
<!-- kate: tab-width 2; -->
