<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ config['BLOG_TITLE'] }}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='blog.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='codehilite.css') }}" type="text/css"/>
    <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <!-- Header'n'Navigation -->
      <div id="navigation">
        <ul>
          <li id="header"><a href="{{ url_for('show_posts') }}">{{ config['BLOG_TITLE'] }}</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </div>
      <!-- Login'n'stuff -->
      <div id="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login', next=request.url) }}">log in</a>
      {% else %}
        <a href="{{ url_for('create_post', next=request.url) }}">compose</a>
        <a href="{{ url_for('logout', next=request.url) }}">log out</a>
      {% endif %}
      </div>
      <!-- Message Flashing -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class=flashes>
          {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <!-- Main Content -->
      <div id="content">
        {% block body %}{% endblock %}
        <!-- Search Block -->
        {% block search %}
        <div id="search">
          <input id="search-field" name="search" type="text"/> 
          <a id="search-button" class="submit" href='#'>Search</a>
        </div>
        {% endblock %}
      </div>
    </div>
    <!-- For Javascript -->
    {% block bottom %}{% endblock %}
  </body>
</html>
