{% from 'macros.html' import render_post with context %}
{% extends "base.html" %}
{% block body %}
  <h3>Compose</h3>
  <form action="{{ request.url }}" method="post" class="compose">
  <div>
    <div style="margin-bottom:5px">
      <input name="title" size=50 type="text" class="title" value="{{ post.title if post else '' }}"/>
    </div>
    <div style="margin-bottom:5px">
      <textarea name="markup" rows="30" style="width:100%;" class="markup">{{ post.markup|safe if post else "" }}</textarea>
    </div>
    <div>
      <label for=tags>Tags:</label> 
      <input name="tags" type="text" size=50 
      value="{% if post %}{% for tag in post.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}"/>
    </div>
    <div style="margin-top: 0.5em"></div>
    <div>
      <!-- TODO: This should rather be some kind of checkbox/list and one should be able to create/delete  
                 categories here -->
      <label for=tags>Categories:</label>
      <input name="categories" size=50 type="text" value="{{ ', '.join(post.categories) if post else '' }}"/>
    </div>
    <div style="margin-top:1em; text-align:right;">
      <input type="submit" name="action" value="{{ 'Update' if post and post.slug else 'Publish' }}" class="submit"/>&nbsp;
      <input id='preview-button' type="submit" name="action" value="Preview" class="submit"/>&nbsp;
      <input type="submit" name="action" value="Cancel" class="submit"/>
      <input type=hidden name=next value="{{ request.values.next or '' }}">
    </div>
  </div>
  </form>  
  <div id=preview></div>
{% endblock %}
{% block search %}{% endblock %}
{% block bottom %}
<script type=text/javascript>
  $(function() {
    $("#preview-button").bind('click', function(e) {
      e.preventDefault();
      var data = {
        'title': $("input[name$='title']").val(),
        'markup': $("textarea[name$='markup']").val(),
        'tags': $("input[name$='tags']").val()
      }
      $.ajax({
        type: "POST",
        url: "/_preview",
        data: data,
        success: function(preview) {
          $('#preview').html("<h3>Preview</h3>" + preview)
          .fadeTo(0,0).fadeTo('normal',1);
        }
      });
      return false;
    });
  });
</script>
{% endblock %}
