{% from 'macros.html' import render_entry with context %}
{% extends "base.html" %}
{% block body %}
  <h3>Compose</h3>
  <form action="{{ request.url }}" method="post" class="compose">
  <div>
    <div style="margin-bottom:5px">
      <input name="title" size=50 type="text" class="title" value="{{ entry.title if entry else '' }}"/>
    </div>
    <div style="margin-bottom:5px">
      <textarea name="markup" rows="30" style="width:100%;" class="markup">{{ entry.markup|safe if entry else "" }}</textarea>
    </div>
    <div>
      <label for=tags>Tags:</label> 
      <input name="tags" type="text" size=50 
      value="{% if entry %}{% for tag in entry.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}"/>
    </div>
    <div style="margin-top: 0.5em"></div>
    <div>
      <!-- TODO: This should rather be some kind of checkbox/list and one should be able to create/delete  
                 categories here -->
      <label for=tags>Categories:</label>
      <input name="categories" size=50 type="text" value="{{ ', '.join(entry.categories) if entry else '' }}"/>
    </div>
    <div style="margin-top:1em; text-align:right;">
      <input type="submit" name="action" value="{{ 'Update' if entry else 'Publish' }}" class="submit"/>&nbsp;
      <input type="submit" name="action" value="Preview" class="submit"/>&nbsp;
      <a class="submit" href="{{ url_for('show_entry', slug=entry.slug) if entry else '/' }}">Cancel</a>
    </div>
  </div>
  </form>
  {% if entry %}
    <h3>Preview</h3>
    {{ render_entry(entry, is_preview=True) }}
  {% endif %}
{% endblock %}
{% block search %}{% endblock %}
