{% from 'macros.html' import render_entry with context %}
{% extends "base.html" %}
{% block body %}
  {% if entry %}
    {{ render_entry(entry) }}
  {% endif %}
  <div id=adjacent-posts>
    <div id="prev-post">
    {% if prev %}
      <a href="{{ url_for('show_entry', slug=prev.slug) }}">&laquo; {{ prev.title }}</a>
    {% endif %}
    </div>
    <div id="next-post">
    {% if next %}
      <a href="{{ url_for('show_entry', slug=next.slug) }}">{{ next.title }} &raquo;</a>
    {% endif %}
    </div>
    <div style='clear:both'></div>
  </div>
{% endblock %}
