<div class="entry">
  <h1 class="entry-title"><a href="{{ url_for('show_entry', slug=entry.slug) }}">{{ entry.title }}</a></h1>
  <div class="body">{{ entry.html|safe }}</div>
  <div class="info">
    <div class="date">{{ entry.published.strftime("%A %d. %B %Y") }}</div>
    <div class="tags">Tags: 
    {% for tag in entry.tags %}
      <a href='/'>{{ tag }}</a>{% if not loop.last %}, {% endif %} 
    {% endfor %}
    </div>
  {% if session.logged_in %}
    <div class="admin">
      <a href="/update/{{ entry.slug }}">Edit</a>
      <a href="/delete/{{ entry.slug }}?next={{ request.url }}">Delete</a>
    </div>
  {% endif %}
  </div>
</div>
