{% macro render_entry(entry, is_preview=False) %}
<div class="entry">
  <h1 class="entry-title"><a href="{{ url_for('show_entry', slug=entry.slug) }}">{{ entry.title }}</a></h1>
  <div class="body">{{ entry.html|safe }}</div>
  <div class="info">
    <div class="date">{{ entry.published.strftime("%A %d. %B %Y") }}</div>
    <div class="tags">Tags: 
    {% for tag in entry.tags %}
      <a href="{{ url_for('show_tag', tag=tag.name) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %} 
    {% endfor %}
    </div>
  {% if session.logged_in and not is_preview %}
    <div class="admin">
      <a href="{{ url_for('update_entry', slug=entry.slug, next=request.url) }}">Edit</a>
      <a href="{{ url_for('delete_entry', slug=entry.slug, next=request.url) }}">Delete</a>
    </div>
  {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint_func) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ endpoint_func(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}
