<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ config['BLOG_TITLE'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="{{ url_for('show_entries') }}"><h1>{{ config['BLOG_TITLE'] }}</h1></a>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </div>
      <div id="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('add_entry') }}">compose</a>
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      {% if error %}<p class=error>{{ error }}</p>{% endif %}
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      {% endfor %}
      <div id="content">
        {% block body %}{% endblock %}
        {% block search %}
        <div id="search">
          <input id="search-field" name="search" type="text"/> 
          <a id="search-button" class="submit" href='#'>Search</a>
        </div>
        {% endblock %}
      </div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>
