{% extends "layout.html" %}
{% block body %}
  <h2>Compose</h2>
  <form action="{{ url_for('add_entry') }}" method="post" class="compose">
    <div style="margin-bottom:5px">
      <input name="title" type="text" class="title" value="{{ entry['title'] if entry else '' }}"/>
    </div>
    <div style="margin-bottom:5px">
      <textarea name="markdown" rows="30" cols="40" class="markdown">
        {{ entry['markdown']|safe if entry else "" }}
      </textarea>
    </div>
    <div>
      Tags: <input name="tags" type="text" value="{{ ','.join(tags) if tags else '' }}"/>
    </div>
    <div>
      <!-- TODO: This should rather be some kind of checkbox/list and one should be able to create/delete  
                 categories here -->
      Categories: <input name="categories" type="text" value="{{ ','.join(categories) if categories else '' }}"/>
    </div>
    <div>
      <input type="submit" value="{{ 'Save changes' if entry else 'Publish post' }}" class="submit"/>
      &nbsp;<a href="{{ url_for('show_entry', slug=entry['slug']) if entry else '/' }}">Cancel</a>
    </div>
    {% if entry %}
      <input type="hidden" name="id" value="{{ entry['id'] }}"/>
    {% endif %}
  </form>
{% endblock %}
