{% extends "base.html" %}
{% block body %}
{% for entry in entries %}
<div class="entry">
  <h1 class="entry-title"><a href="{{ url_for('show_entry', slug=entry.slug) }}">{{ entry.title }}</a></h1>
  <div class="body">{{ entry.html|safe }}</div>
  <div class="info">
    <div class="date">{{ entry.published.strftime("%A %d. %B %Y") }}</div>
    <div class="tags">{{ ', '.join(tags) }}</div>
  {% if session.logged_in %}
                               <!-- TODO: make id work -->
    <div class="admin"><a href="/compose?id={{ entry.id }}">Edit</a></div>
  {% endif %}
  </div>
</div>
{% else %}
<em>No entries here so far</em>
{% endfor %}
{% endblock %}
