{% extends "base.html" %}
{% block body %}
  <h3>Login</h3>
  <form action="{{ url_for('admin.login') }}" method=post>
  <label for=username>Username:</label>
  <input type=text name=username>
  <div style="margin-top: 1em"></div>
  <label for=password>Password:</label>
  <input type=password name=password>
  <div style="margin-top: 1em"></div>
  <input type=submit class=submit value=Login>
  <input type=hidden name=next value="{{ request.values.next or '' }}">
  </form>
{% endblock %}
{% block search %}{% endblock %}
